@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: black;
    color: white;
}
.main-container{
    width: 1400px;
    margin: 0 auto;
}
.logo{
    width: 210px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
header {
    position: fixed;
    max-width: 1400px;
    width: 100%;
    height: 100px;
    padding: 0px 30px 0px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.right-nav{
    position: absolute;
    right: 50px;
}
.center-nav ul, .right-nav{
    display: flex;
    align-items: center;
}
.center-nav a, .right-nav a{
    color: white;
    font-size: 14px;
    margin: 0px 15px;
}
.right-menu{
    transition: all .4s ease-in-out;
    width: 350px;
    height: 100vh;
    background-color: black;
    position: fixed;
    right: -350px;
    z-index: 2;
    text-align: right;
    color: white;
}
.open-btn img{
    width: 30px;
    cursor: pointer;
}
.open-right-menu{
    right: 0;
}
.right-menu ul {
    padding: 20px 35px;
}
.right-menu li{
    padding: 13px;
} 
.right-menu a {
    color: white;
    transition: all .5s ease-in-out;
    position: relative;
}
.right-menu a::after{
    content: "";
    display: block;
    width: 270px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.345);
    position: absolute;
    right: 0;
}
.right-menu a:hover{
    color: rgb(144, 143, 143);
}
.close-btn{
    border: none;
    background: transparent;
    color: white;
    font-size: 32px;
    cursor: pointer;
    padding-right: 13px;
}
/* blur */
.blur-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: blur(5px);
  }
  
/* sections */
section {
    width: 100%;
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-a {
    background-image: url(images/TranporterMission1.jpeg);
}
.section-b {
    background-image: url(images/StarlinkMission2.jpeg);
}
.section-c{
    background-image: url(images/nasa3.webp);
}
.section-d{
    background-image: url(images/starship4.webp);
}
/* section-content */
.section-content{
    position: absolute;
    left: 60px;
    bottom: 15%;
    text-align: left;
    width: 50%;
    max-width: 520px;
}
.section-content h3{
    font: 20px/38px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: auto;
}
.section-content h1 {
    font-size: 48px;
    line-height: 48px;
    max-width: 90%;
    padding-bottom: 60px;
    font-weight: 600;
}
.content-btn{
    font-weight: 100;
    font-size: 14px;
    border: 2px solid white;
    color: white;
    background: transparent;
    padding: 18px 50px;
}
/* footer */
footer {
    color: #fff;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    width: 30%;
    text-align: left;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .copyright {
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }
  